.nav {
  width: 100%;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  width: 100%;
  align-items: center;
  color: var(--color-gray-2);
}

.item {
  display: inline-block;
}

.link {
  text-decoration: none;
  transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;
  color: #5A5A61;
  text-transform: uppercase;
  font-size: var(--font-size-body-big);
  font-family: var(--font-additional);
  font-weight: 400;
}

.link.active {
  color: var(--color-white);
}

.link:hover {
  color: var(--color-white);
  opacity: 0.8;
}

@media screen and (max-width: 480px) {
  .list {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
  }

  .listElement {
    margin: 0 8rem 8rem
  }

  .link {
    
    font-size: var(--font-size-body-small);
    line-height: 1.35;
  }
}