.card {
	position: relative;
	width: 100%;
	height: 100%;
}

.linkTo {
	position: absolute;
	inset: 0;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.imageContainer {
	overflow: hidden;
	width: 100%;
	height: 100%;
	max-height: 300rem;
	position: relative;
	aspect-ratio: 6/7;
	max-width: 357rem;
	margin: 0 auto;
	border-radius: 15rem;
}

.imageContainer img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	-webkit-object-fit: contain;
}

.textContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 10rem;
	gap: 20rem;
}

.title {
	color: var(--color-white);
	font-family: var(--font-basic);
	font-weight: 400;
	font-size: 48rem;
	line-height: 48rem;
	letter-spacing: 0%;
	margin-bottom: 20rem;
}

.text {
	color: #afaeb5;
	font-family: var(--font-additional);
	font-weight: 400;
	font-size: 16rem;
	line-height: 21.86rem;
	letter-spacing: -1%;
	margin-bottom: auto;
}

.tags {
	display: flex;
	gap: 10rem;
}

.tag {
	font-family: var(--font-additional);
	font-weight: 500;
	font-size: 16rem;
	line-height: 21.86rem;
	letter-spacing: -1%;
	color: #afaeb5;
	background: var(--Background-Gray, #1c1c1f);
	border: 1px solid var(--Gray, #2d2d31);
	padding: 4rem;
	border-radius: 5rem;
}

@media screen and (max-width: 480px) {
	.card {
		width: 100%;
	}

	.title {
		font-size: 32rem;
		line-height: 1;
		margin-bottom: 0;
	}

	.text {
		font-size: 16rem;
		line-height: 1;
	}
}
