.formPopup {
	width: 664rem;
	background-color: #161618;
	position: relative;
	margin-top: 50rem;
	border-radius: 15rem;
	padding: 0rem 10rem 8rem 10rem;
	border: 1rem solid #2d2d31;
}

.closeButton {
	position: absolute;
	top: 9rem;
	right: 9rem;
	background: url(../../../../images/icons/close.svg) no-repeat center;
	background-size: 32rem 32rem;
	width: 32rem;
	height: 32rem;
	border: none;
	outline: none;
	background-color: transparent;
	transition: var(--link-opacity-transition);
	padding: 0;
}

.closeButton:hover {
	cursor: pointer;
	opacity: 0.8;
}

.imageContainer {
	pointer-events: none;
	position: relative;
	width: 644rem;
	height: 190rem;
	border-radius: 15rem;
	margin-bottom: 14rem;
}

.imageContainer img {
	pointer-events: none;
	position: absolute;
	top: -80rem;
	left: -190rem;
	width: 100%;
	object-fit: cover;
}

.titleContainer {
	position: relative;
	z-index: 2;
	padding: 0 50rem;
}

.title {
	color: var(--color-white);
	text-transform: uppercase;
	font-family: var(--font-base);
	font-weight: 700;
	font-size: 40rem;
	line-height: 1;
	letter-spacing: 0%;
	margin-bottom: 12rem;
}

.subtitle {
	color: #afaeb5;
	margin-bottom: 16rem;
	font-family: var(--font-additional);
	font-weight: 500;
	font-size: 16rem;
	line-height: 1.5;
	letter-spacing: -1%;
}

.label {
	color: #afaeba;
	font-family: var(--font-additional);
	font-weight: 500;
	font-size: 16rem;
	line-height: 1.5;
	letter-spacing: -1%;
}

.inputsContainer {
	background-color: #1c1c1f;
	margin-bottom: 16rem;
	display: grid;
	gap: 10rem;
	align-items: center;
	padding: 16rem 30rem;
	border-radius: 8rem;
}

.agreement {
	font-family: var(--font-basic);
	font-size: var(--font-size-body-small);
	color: var(--color-gray-1);
}

.checkboxContainer {
	display: flex;
	align-items: center;
	gap: 10rem;
	position: relative;
}

.checkboxContainer input[type='checkbox'] {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkboxContainer input[type='checkbox'] + label {
	position: relative;
	padding-left: 26rem;
	cursor: pointer;
}

.checkboxContainer input[type='checkbox'] + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 4rem;
	width: 16rem;
	height: 16rem;
	border: 1px solid #afaeb5;
	border-radius: 3rem;
	background-color: transparent;
	transition: all 0.2s ease;
}

.checkboxContainer input[type='checkbox']:checked + label:before {
	background-color: var(--color-accent);
	border-color: var(--color-accent);
}

.checkboxContainer input[type='checkbox']:checked + label:after {
	content: '';
	position: absolute;
	left: 5rem;
	top: 10rem;
	width: 6rem;
	height: 3rem;
	border-left: 2px solid white;
	border-bottom: 2px solid white;
	transform: rotate(-45deg);
}

.checkboxLabel {
	color: #afaeb5;
	font-family: var(--font-additional);
	font-weight: 500;
	font-size: 16rem;
	line-height: 1.5;
	letter-spacing: -1%;
}

.checkboxLabel a {
	color: var(--color-accent);
	text-decoration: underline;
}

.submitButton {
	width: 100%;
	border: none;
	background-color: var(--color-accent);
	color: var(--color-white);
	font-family: var(--font-additional);
	font-weight: 700;
	font-size: 16rem;
	line-height: 1.5;
	letter-spacing: -1%;
	padding: 10rem 20rem;
	border-radius: 8rem;
}

@media screen and (max-width: 480px) {
	.formPopup {
		width: 280rem;
		margin-top: 20rem;
		padding: 8rem;
	}

	.closeButton {
		top: 13rem;
		right: 8rem;
		background-size: 24rem 24rem;
		width: 24rem;
		height: 24rem;
	}

	.imageContainer {
		width: 320rem;
		height: 120rem;
		margin-bottom: 14rem;
	}

	.imageContainer img {
		top: -40rem;
		left: -120rem;
		width: 100%;
	}

	.titleContainer {
		padding: 0 20rem;
	}

	.title {
		font-size: 32rem;
	}

	.subtitle {
		margin-bottom: 16rem;
		font-size: 16rem;
	}

	.inputsContainer {
		margin-bottom: 16rem;
		padding: 16rem;
		gap: 16rem;
	}

	.buttonContainer {
		grid-auto-flow: row;
		gap: 16rem;
		grid-template-columns: 1fr;
	}

	.agreement {
		text-align: center;
	}

	.checkboxLabel {
		font-size: 14rem;
	}

	.submitButton {
		font-size: 14rem;
		padding: 8rem 16rem;
	}
}
