.offersList {
	padding-bottom: 200rem;
}

.container {
	max-width: 1260rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40rem;
}

.title {
	font-family: var(--font-base);
	font-weight: 700;
	font-size: 98rem;
	line-height: 88.2rem;
	letter-spacing: 0%;
	text-align: center;
	color: var(--color-white);
	text-align: center;
}

.title span {
	color: var(--color-accent);
}

.description {
	max-width: 565rem;
	font-family: var(--font-additional);
	font-weight: 500;
	font-size: 20rem;
	line-height: 27.32rem;
	letter-spacing: -1%;
	text-align: center;
	color: var(--color-white);
}

.button {
	font-family: var(--font-base);
	font-weight: 400;
	font-size: 20rem;
	line-height: 1.5;
	letter-spacing: -1%;
	text-align: center;
	color: var(--color-white);
	background-color: var(--color-accent);
	border-radius: 12rem;
	border: none;
	padding: 27rem 32rem;
	cursor: pointer;
	margin-bottom: 40rem;
}

.offers {
	position: relative;
	display: flex;
	gap: 40rem;
}

.offer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10rem;
	background: var(--Background-Gray, #1c1c1f);
	border: 1px solid var(--Gray, #2d2d31);
	box-shadow: 0px 0px 10px 0px #0000000d;
	border-radius: 15rem;
	padding: 10rem;
}

.offerImg {
	max-width: 280rem;
	width: 100%;
	border-radius: 8rem;
}

.offerInfo {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20rem;
}

.infoItemTitle {
	font-family: var(--font-additional);
	font-weight: 500;
	font-size: 16rem;
	line-height: 21.86rem;
	letter-spacing: -1%;
	color: var(--color-white);
}

.infoItemValue {
	font-family: var(--font-base);
	font-weight: 600;
	font-size: 48rem;
	line-height: 48rem;
	letter-spacing: 0%;
	color: var(--color-white);
}

.offerSticker {
	max-width: 242rem;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(0, -50%);
}

.tape {
	position: absolute;
	bottom: 0;
	right: 0;
	max-width: 139rem;
	max-height: 187rem;
	width: 100%;
	transform: translate(45%, 45%);
}

@media (max-width: 480px) {
	.offersList {
		padding-bottom: 100rem;
	}

	.container {
		padding: 0 20rem;
		gap: 24rem;
	}

	.title {
		font-size: 42rem;
		line-height: 46rem;
	}

	.description {
		font-size: 16rem;
		line-height: 22rem;
	}

	.buttonContainer {
		width: 100%;
	}

	.button {
		width: 100%;
		font-size: 16rem;
		line-height: 22rem;
		padding: 16rem 24rem;
		border-radius: 8rem;
		margin-bottom: 20rem;
	}

	.offers {
		flex-direction: column;
		gap: 30rem;
		width: 100%;
	}

	.offer {
		box-sizing: border-box;
		width: 100%;
		padding: 16rem;
	}

	.offerImg {
		max-width: 100%;
	}

	.offerInfo {
		gap: 15rem;
	}

	.infoItemTitle {
		font-size: 14rem;
		line-height: 19rem;
	}

	.infoItemValue {
		font-size: 32rem;
		line-height: 36rem;
	}

	.offerSticker {
		max-width: 150rem;
		transform: translate(0, -40%);
	}

	.tape {
		max-width: 100rem;
		transform: translate(30%, 30%);
	}
}
