.content {
	max-width: 1200rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20rem;
}

.link {
	width: 380rem;
	display: block;
}

.button {
	position: relative;
	width: 100%;
	background-color: #ff6666;
	transition: background-color 0.35s ease-out;

	font-family: var(--font-additional);
	font-size: var(--font-size-body-big);
	color: white;
	border-radius: 12rem;
	border: none;
	font-weight: 700;
	padding: 16rem 24rem;
	text-align: center;
}

@media screen and (max-width: 480px) {
	.content {
		width: 280rem;
	}

	.link {
		width: 100%;
	}
}
