@font-face {
    font-family: 'Manrope';
    src: local('Manrope Light'), local('Manrope-Light'),
        url('ManropeExtraLight.woff2') format('woff2'),
        url('ManropeExtraLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: local('Manrope Regular'), local('Manrope-Regular'),
        url('ManropeRegular.woff2') format('woff2'),
        url('ManropeRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: local('Manrope Bold'), local('Manrope-Bold'),
        url('ManropeBold.woff2') format('woff2'),
        url('ManropeBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}