.backgroundItems {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.backgroundItems > div {
  position: absolute;
}



.backgroundItems div[id=backNet] {
  left: 0;
  width: 124rem;
  height: 150rem;
  background-image: url(../../../../../images/misc/net.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 5;
}
/* 1 */
.backgroundItems div[id=backNet]:nth-child(1) {
  top: 938rem;
}
/* 2 */
.backgroundItems div[id=backNet]:nth-child(2) {
  top: 2730rem;
}
/* 3 */
.backgroundItems div[id=backNet]:nth-child(3) {
  top: 3910rem;
}
/* 4 */
/* .backgroundItems div[id=backNet]:nth-child(4) {
  top: 4538rem;
  display: none;
} */



.backgroundItems div[id=backLine] {
  left: 0;
  width: 100%;
  height: 91rem;
  z-index: 5;
}
/* 1 */
.backgroundItems div[id=backLine]:nth-child(4) {
  top: 1844rem;
}
/* 2 */
.backgroundItems div[id=backLine]:nth-child(5) {
  top: 2681rem;
}
/* 3 */
.backgroundItems div[id=backLine]:nth-child(6) {
  top: 3610rem;
}
/* 4 */
/* .backgroundItems div[id=backLine]:nth-child(8) {
  top: 6029rem;
} */



.backgroundItems div[id=backBubble] {
  z-index: 4;
  width: 0.1px;
  height: 0.1px;
}
/* 1 */
.backgroundItems div[id=backBubble]:nth-child(7) {
  top: 1438rem;
  left: 0;
  background-color: rgb(253, 103, 106);
  box-shadow: 0rem 0rem 252rem 156rem rgba(253, 103, 106, 0.77);
}
/* 2 */
.backgroundItems div[id=backBubble]:nth-child(8) {
  top: 2383rem;
  right: 0;
  background-color: rgb(253, 103, 106);
  box-shadow: 0rem 0rem 240rem 150rem rgba(253, 103, 106, 0.37);
}
/* 3 */
.backgroundItems div[id=backBubble]:nth-child(9) {
  top: 3351rem;
  right: 427rem;
  background-color: rgba(203, 156, 253, 1);
  box-shadow: 0rem 0rem 200rem 140rem rgba(203, 156, 253, 0.46);
}
/* 4 */
.backgroundItems div[id=backBubble]:nth-child(10) {
  top: 4321rem;
  right: 247rem;
  background-color: rgba(203, 156, 253, 1);
  box-shadow: 0rem 0rem 173rem 109rem rgba(203, 156, 253, 0.46);
}
/* 5 */
.backgroundItems div[id=backBubble]:nth-child(11) {
  top: 4834rem;
  left: 0;
  background-color: rgb(253, 103, 106);
  box-shadow: 0rem 0rem 252rem 143rem rgba(253, 103, 106, 0.4);
}
/* 6 */
/* .backgroundItems div[id=backBubble]:nth-child(14) {
  top: 6746rem;
  right: 0;
  background-color: rgb(253, 103, 106);
  box-shadow: 0rem 0rem 200rem 211rem rgba(253, 103, 106, 0.30);
} */


@media screen and (max-width: 480px) {
  .backgroundItems {
    position: absolute;
    top: 0;
    left: 0;
    width: 320rem;
    z-index: 1;
  }

  .backgroundItems div[id=backNet] {
    display: none;
  }



  .backgroundItems div[id=backLine] {
    left: 0;
    width: 100%;
    height: 32rem;
  }
  /* 1 */
  .backgroundItems div[id=backLine]:nth-child(4) {
    top: 1370rem;
  }
  /* 2 */
  .backgroundItems div[id=backLine]:nth-child(5) {
    top: 2352rem;
  }
  /* 3 */
  .backgroundItems div[id=backLine]:nth-child(6) {
    top: 3050rem;
  }
  /* 4 */
  /* .backgroundItems div[id=backLine]:nth-child(8) {
    top: 5453rem;
  } */
    

    /* 1 */
  .backgroundItems div[id=backBubble]:nth-child(7) {
    top: 1429rem;
    left: 20rem;
    background-color: rgb(253, 103, 106);
    box-shadow: 0rem 0rem 235rem 110rem rgba(253, 103, 106, 0.6);
  }
  /* 2 */
  .backgroundItems div[id=backBubble]:nth-child(8) {
    top: 2508rem;
    right: 20rem;
    background-color: rgb(253, 103, 106);
    box-shadow: 0rem 0rem 200rem 133rem rgba(253, 103, 106, 0.34);
  }
  /* 3 */
  .backgroundItems div[id=backBubble]:nth-child(9) {
    top: 2880rem;
    left: 0rem;
    background-color: rgba(203, 156, 253, 1);
    box-shadow: 0rem 0rem 210rem 113rem rgba(203, 156, 253, 0.40);
  }
  /* 4 */
  .backgroundItems div[id=backBubble]:nth-child(10) {
    top: 3564rem;
    right: 0rem;
    background-color: rgba(203, 156, 253, 1);
    box-shadow: 0rem 0rem 173rem 109rem rgba(203, 156, 253, 0.36);
  }
  /* 5 */
  .backgroundItems div[id=backBubble]:nth-child(11) {
    top: 4171rem;
    left: 0;
    background-color: rgb(253, 103, 106);
    box-shadow: 0rem 0rem 252rem 100rem rgba(253, 103, 106, 0.4);
  }
  /* 6 */
  /* .backgroundItems div[id=backBubble]:nth-child(12) {
    top: 5982rem;
    right: 0;
    background-color: rgb(253, 103, 106);
    box-shadow: 0rem 0rem 200rem 170rem rgba(253, 103, 106, 0.30);
  } */
}